.nav{
    background-color: #E1DAD8;
    width: 100%;
    text-align: center;
    height: 12vh;
    margin: auto;
}

.title{
    position: relative;
    top: -15px;
    margin: 0;
    font-family: malinda;
    font-size: 2.5em;
    color: #3D5361;
}

@media screen and (max-width: 300px) {
    .title{font-size: 1.5em; top:5px}
}