.add-task{
    display: flex;
    justify-content: center;
    border: none;
    height: 20vh;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 3px 0px rgba(61,83,97,1);
    text-align: center;
}

label, input{
    font-family: "Segoe UI";
    margin: 10px;
    outline: none;
}

input{
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #3D5361;
}


.add-btn{
    border: none;
    background-color: #E1DAD8;
    color: #3D5361;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: "Segoe UI";
    font-size: medium;
    outline: 0;
    cursor: pointer;
}

button:hover{
    background-color: #efeded;
}

@media screen and (max-width: 525px){
    .add-task{ width: 90%; height: auto; padding: 5px;}
    input{width: 70%}
    .add-btn{margin: 7px;}
}